<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.scratchbird.sbmgr</string>
  <key>ProgramArguments</key>
  <array>
    <string>/opt/ScratchBird/bin/SBlaunch</string>
    <string>sbmgr</string>
  </array>
  <key>UserName</key>
  <string>root</string>
  <key>GroupName</key>
  <string>wheel</string>
  <key>InitGroups</key>
  <false/>
  <key>WorkingDirectory</key>
  <string>/var/lib/scratchbird</string>
  <key>RunAtLoad</key>
  <false/>
  <key>KeepAlive</key>
  <false/>
  <key>Disabled</key>
  <true/>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ThrottleInterval</key>
  <integer>5</integer>
  <key>Umask</key>
  <integer>23</integer>
  <key>StandardOutPath</key>
  <string>/var/log/scratchbird/launchd/SBmgr.out.log</string>
  <key>StandardErrorPath</key>
  <string>/var/log/scratchbird/launchd/SBmgr.err.log</string>
</dict>
</plist>
