;; Copyright (c) 2026 ScratchBird Software Inc.
;;
;; This Source Code Form is subject to the terms of the Mozilla Public
;; License, v. 2.0. If a copy of the MPL was not distributed with this
;; file, You can obtain one at https://mozilla.org/MPL/2.0/.
;;
;; SPDX-License-Identifier: MPL-2.0

{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.scratchbird/scratchbird-jdbc {:mvn/version "0.1.0"}}
 :aliases {:test {:extra-paths ["test"]}
           :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.10"}}
                   :ns-default build}}}
