# Copyright (c) 2026 ScratchBird Software Inc.
#
# This Source Code Form is subject to the terms of the Mozilla Public
# License, v. 2.0. If a copy of the MPL was not distributed with this
# file, You can obtain one at https://mozilla.org/MPL/2.0/.
#
# SPDX-License-Identifier: MPL-2.0

useDynLib(scratchbird, .registration=TRUE)
export(Scratchbird)
export(sb_connect)
export(sb_probe_auth_surface)
export(sb_get_resolved_auth_context)
export(sb_disconnect)
export(sb_query)
export(sb_get_query)
export(sb_send_query)
export(sb_fetch)
export(sb_clear_result)
export(sb_cancel)
export(sb_set_autocommit)
export(sb_is_valid)
export(sb_supports_prepared_transactions)
export(sb_supports_dormant_reattach)
export(sb_prepare_transaction)
export(sb_commit_prepared)
export(sb_rollback_prepared)
export(sb_detach_to_dormant)
export(sb_reattach_dormant)
export(sb_config)
export(sb_normalize)
export(sb_jsonb)
export(sb_geometry)
export(sb_range)
export(sb_metadata_schemas_query)
export(sb_metadata_tables_query)
export(sb_metadata_columns_query)
export(sb_metadata_indexes_query)
export(sb_metadata_index_columns_query)
export(sb_metadata_constraints_query)
export(sb_metadata_procedures_query)
export(sb_metadata_functions_query)
export(sb_metadata_schema_paths_for_navigation)
export(sb_metadata_build_schema_tree)
export(sb_metadata_build_schema_tree_rows)
import(DBI)
import(openssl)
import(jsonlite)
importFrom(methods, new)
